.main {
    border: 0.5px inset grey;
  width: 40%;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: auto;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-family: sans-serif;
  background-color: #ebe3ee;
}
.input {
  display: flex;
  justify-content: center;
}
.input * {
  padding: 10px;
}
.select {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  column-gap: 54px;
}
.select * {
  width: 30%;
  padding: 10px;
}
input:focus {
  outline: none;
  color: blue;
  font-weight: bold;
  box-shadow: 5px 5px 10px grey;
}
option {
  text-transform: capitalize;
  color: gray;
}

select:focus {

outline: none;
box-shadow: 2px 4px 2px grey;

}

